body {
  font-family: Arial, sans-serif;
  background: #4cb6c9;
  text-align: center;
  padding: 20px;
  color: white;
}

.search-box {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 16px;
  background: #0b5ed7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.weather-card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  margin: 20px auto;
  width: 320px;
}

.forecast-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 15px;
  scroll-behavior: smooth;
}

.forecast-row::-webkit-scrollbar {
  display: none;
}

.forecast-card {
  background: white;
  color: black;
  padding: 12px;
  border-radius: 12px;
  min-width: 120px;
}
.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.scroll-btn {
  background: rgba(255,255,255,0.9);
  color: black;
  border: none;
  font-size: 26px;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.scroll-btn.left {
  left: -10px;
}

.scroll-btn.right {
  right: -10px;
}

.scroll-btn:hover {
  background: white;
}

/* Hourly scroll */
#hourlyForecast {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 15px 30px;
  scroll-behavior: smooth;
}

#hourlyForecast::-webkit-scrollbar {
  display: none;
}
.section-title {
  margin-top: 40px;
}

#dailyForecast {
  margin-bottom: 40px;
}
#dailyForecast {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;   /* VERY IMPORTANT */
}
